<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Infinite Mysteries Characters | <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <link href='https://fonts.googleapis.com/css?family=Oswald|PT+Mono' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render "layouts/navbar" %>
    </header>

    <div class="flash-messages">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert-box #{name} radius" %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
